@if (user) {
    <div
        class="custom-user-card card col-12 col-md-6 col-lg-4 d-flex flex-column align-items-center rounded-4"
    >
        <img
            style="width: 48px"
            class="rounded-5"
            [src]="user.image"
            alt=""
        >
        <div class="card-body d-flex flex-column">
            <span
                [class]='"badge " + getClassByRole(user.role)'
                style="width: fit-content; align-self: center"
            >
                {{ user.role }}
            </span>
            <span>
                {{ user.username }}
            </span>
            <span>
                {{ user.email }}
            </span>
            <span>
                {{ user.phone }}
            </span>
            <span>
                {{ getFormattedDate(user.birthDate) }}
            </span>
        </div>
    </div>
}
